.formContainer {
    /* background-color: red; */
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    visibility: hidden;
}

.form {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    /* backdrop-filter: blur(5px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(0, 35, 45);
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
}

form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input,
select,
button {
    font-size: 15px;
    padding: 8px 15px;
    font-family: inherit;
}

form button {
    width: 60%;
    margin: 10px auto 0 auto;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(0, 191, 255);
}