.addProjectContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addProjectInner {
    background-color: rgb(0, 35, 45);
    padding: 20px 30px;
    border-radius: 10px;
}

.addProjectForm {
    display: flex;
    gap: 10px;
}

.addProjectForm input,
.addProjectForm button {
    font-size: 15px;
    padding: 8px 15px;
}