* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(207, 245, 246);
    /* width: 99%; */
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 8fr;
    gap: 10px;
    padding: 10px;
    color: white;
}

nav {
    background-color: rgb(0, 35, 45);
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;

}

nav button {
    cursor: pointer;
    border: none;
    outline: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    gap: 50px;
    height: 100%;
    cursor: pointer;
}

.sidebar {
    background-color: rgb(0, 35, 45);
    grid-area: 1/1/3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .logo {
    font-size: 30px;
    font-weight: bolder;
}

.sidebar .logo span {
    color: rgb(0, 217, 255);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.projects button {
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.projects .default {
    background-color: rgb(0, 208, 255);
}

.projects .addProject {
    box-shadow: 0px 0px 1px 1px rgb(0, 165, 121) inset;
}

.content {
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* padding: 20px; */
    overflow: auto;
}

.todo , .todoHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 99, 106);
    /* height: 50px; */
    padding: 10px 20px;
}
.todo .btns , .todoHead .btns{
    display: flex;
    gap: 20px;
}
.todo div{
    width: 20%;
}